# mac os
.DS_Store

# xcode
xcuserdata
*.xcuserstate
*.xccheckout
DerivedData
Pods/

# cmake
cmake_install.cmake
CMakeCache.txt
CMakeFiles
Makefile
install_manifest.txt
*.dylib

# clion
bin
build
cmake-build-debug
codeStyles
workspace.xml
misc.xml
