
# clion
.idea
bin
cmake-build-debug

# xcode
xcuserdata
DerivedData
Pods/
*.xcuserstate
*.xccheckout

# cmake
build
CMakeFiles
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
Makefile

# output
*.dylib
*.a
*.so
*.lib
*.dll

# misc
.DS_Store
.vscode
